<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Data Inventory - {% block title %}{% endblock %}</title>

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>